@import '../../../scss/bootstrap-breakpoints';

.collections-explore {
  padding-top: 2rem;

  &-banner {
    height: 300px !important;

    @include media-breakpoint-down(sm) {
      height: 150px !important;
    }
  }

  &-title {
    display: flex;
    justify-content: center;

    h1 {
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }

  &-content {
    margin-top: 2rem;
    min-height: 800px;
  }
}

.collection {
  &-list-wrapper {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem 1rem;
    padding: 2rem 1rem;

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-item {
    // padding: 1rem;
  }
}
